<h2>{{location}} <small>{{siteSaleTime}}</small></h2>
<h5>Checking in Site Sale Inventory</h5>
<div class="twelve columns">
  <form class="custom row" id="inventory-editor">
    {{#each cookieCases}}
      <div class="row cookie-count mbs">
        <div class="three columns">
          <h5>{{name}}</h5>
          Total Checkout: {{quantityStart}}
        </div>
        <div class="four columns cases">
          {{view Gsc.AddMinusCasesCheckIn valueBinding="casesBaseTenCheckIn"}}
        </div>
        <div class="four columns boxes">
          {{view Gsc.AddMinusBoxesCheckIn valueBinding="boxesLeftOverCheckIn" }}
        </div>
        <div class="die"></div>
      </div>
    {{/each}}
    <a href='#' {{action 'update' content}} class='button radius'>{{buttonTitle}}</a>
  </form>
</div>