<h2>{{location}} <small>{{siteSaleTime}}</small></h2>
<h5>Starting Site Sale Inventory</h5>
<div class="twelve columns">
  <form class="custom row" id="inventory-editor">
    <h5>Particapants at this site sale.</h5>
    {{view Ember.Select viewName="select"
                        contentBinding="Gsc.participantsController"
                        prompt="Pick a person:"}}
    {{#each cookieCases}}
      <div class="row cookie-count mbs">
        <div class="three columns">
          <h5>{{name}}</h5>
        </div>
        <div class="three columns cases">
          <label class="control-label" for="cookies-{{id}}">Cases</label>
          {{view Ember.TextField valueBinding="casesBaseTenCheckOut" placeholder="Cases Quantity" required="true" }}
        </div>
        <div class="two columns boxes">
          <label class="control-label" for="cookies-{{id}}">Boxes</label>
          {{view Ember.TextField valueBinding="boxesLeftOverCheckOut" placeholder="Boxes Quantity" required="true" }}
        </div>
        <div class="die"></div>
      </div>
    {{/each}}
    <a href='#' {{action 'update' content}} class='button radius'>{{buttonTitle}}</a>
  </form>
</div>
