<h2>{{location}} <small>{{siteSaleTime}}</small></h2>
<div class="twelve columns">
  <form class="custom row" id="inventory-editor">
    <h5>Particapants at this site sale.</h5>
    {{#each controllers.participants}}
      <label class="checkbox">
        {{view view.participantCheckbox siteBinding="controller.content" participantBinding="this"}}
        {{ fullName }}
      </label>
    {{/each}}
    <h5>Starting Site Sale Inventory</h5>
    {{#each cookieCases}}
      <div class="row cookie-count mbs">
        <div class="three columns">
          <h5>{{name}}</h5>
        </div>
        <div class="three columns cases">
          {{view Gsc.AddMinusCases valueBinding="casesBaseTenCheckOut" placeholder="Cases Quantity"}}
        </div>
        <div class="two columns boxes">
          {{view Gsc.AddMinusBoxes valueBinding="boxesLeftOverCheckOut" placeholder="Boxes Quantity" }}
        </div>
        <div class="die"></div>
      </div>
    {{/each}}

    <a href='#' {{action 'update' content}} class='button radius'>{{buttonTitle}}</a>
  </form>
</div>
