<div class="row">
  <div class="twelve columns">
    <form {{action save content on="submit"}} class="custom">
      <h3>{{headerTitle}} {{location}}</h3>
      <div class="row">
        <div class="twelve columns">
          <label class="control-label" for="location">Location</label>
          {{view Ember.TextField valueBinding="location" id="location" placeholder="Location" required="true"}}
        </div>
        <div class="six columns">
          <label class="control-label" for="startAt">Start Date</label>
          {{view Ember.TextField valueBinding="startDate" id="startDate" placeholder="Start Date" required="true" class="datepicker"}}
        </div>
        <div class="six columns">
          <label class="control-label" for="startAt">Start Time</label>
          <div class="controls">
            {{view Ember.Select
                contentBinding="Gsc.siteSalesTimes"
                optionValuePath="content.value"
                optionLabelPath="content.display"
                valueBinding="startTime"
                selectionBinding="Gsc.siteSaleEditController.startTime"
                selected="startTime"
                prompt="Please select a time"
                class="expand"
            }}
          </div>
        </div>
      </div>
      <div class="six columns panel">
        <h3>Start Inventory</h3>
        {{#each cookieCases}}
          <label class="control-label" for="cookies-{{id}}">{{name}}</label>
          {{view Ember.TextField valueBinding="quantityStart" placeholder="Quantity" required="true"}}
        {{/each}}
      </div>
      <div class="six columns panel">
        <h3>Ending Inventory</h3>
        {{#each cookieCases}}
          <label class="control-label" for="cookies-{{id}}">{{name}}</label>
          {{view Ember.TextField valueBinding="quantityEnd" placeholder="Quantity" required="true"}}
        {{/each}}
      </div>

      <div class="form-actions mtm">
        <a href='#' {{action update target='controller'}} class='button radius'>{{buttonTitle}}</a>
        <a href='#' {{action cancel target='controller'}} class='mlm'>Cancel</a>
      </div>
    </form>
  </div>
</div>
