<div class="row">
  <div class="twelve columns">
    <form class="custom">
      <h3>{{headerTitle}} {{locationName}}</h3>
      <div class="row">
        <div class="twelve columns">
          <label class="control-label" for="location">Location</label>
          {{view Ember.TextField valueBinding="location" id="location" placeholder="Location" required="true"}}
        </div>
        <div class="six columns">
          <label class="control-label" for="startAt">Start Date</label>
          {{view Gsc.DatePicker dataBinding="startDate" valueBinding="startDate" placeholder="Start Date" required="true" class="datepicker" }}
        </div>
        <div class="six columns">
          <label class="control-label" for="startAt">Start Time</label>
          <div class="controls">
            {{view Ember.Select
                contentBinding="Gsc.siteSalesTimes"
                optionValuePath="content.value"
                optionLabelPath="content.display"
                valueBinding="startTime"
                prompt="Please select a time"
                class="expand"
            }}
          </div>
        </div>
      </div>
      <div class="form-actions mtm">
        <a href='#' {{action update target='controller'}} class='button radius'>{{buttonTitle}}</a>
        <a href='#' {{action cancel target='controller'}} class='mlm'>Cancel</a>
      </div>
    </form>
  </div>
</div>
