<form {{action save content on="submit"}} class="custom">
  <h3>{{headerTitle}} {{location}}</h3>

  <label class="control-label" for="location">Location</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="location" id="location" placeholder="Location" required="true"}}
  </div>
  <label class="control-label" for="startAt">Start Date and Time</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="startAt" id="startAt" placeholder="Start Date and Time" required="true"}}
  </div>
  <label class="control-label" for="endAt">End Date and Time</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="endAt" id="endAt" placeholder="Endt Date and Time" required="true"}}
  </div>
  <div class="checkbox">
    <label for="phone">
      {{view Ember.Checkbox checkedBinding="isExpaneded"}}
      Parent
    </label>
  </div>

  {{#each cookieCases}}
    <label class="control-label" for="cookies1">Cookies</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="cookieCase.name" id="cookies1" placeholder="Cookie" required="true"}}
    </div>
  {{/each}}


  <div class="form-actions mtm">
    <a href='#' {{action update target='controller'}} class='button radius'>{{buttonTitle}}</a>
    <a href='#' {{action cancel target='controller'}} class='mlm'>Cancel</a>
    <a href='#' {{action destroy target='controller'}} class='right mts'>Delete {{location}}</a>
  </div>
</form>
