<h2>{{location}}</h2>
<p>{{siteSaleTime}}</p>
<p>{{siteTime}}</p>

<h3>Cookies</h3>
<ul class="no-bullet">
  {{#each cookieCases}}
    <li>
      <strong>{{name}}</strong> {{quantity}}
    </li>
  {{/each}}
</ul>
{{#if boxes}}
  <h4>Total <span>{{boxes}} Boxes</span></h4>
{{/if}}

{{#linkTo siteSales.edit content class="button radius"}}Edit{{/linkTo}}

{{outlet}}