<h2>{{location}} <small>{{siteSaleTime}}</small></h2>


<div class="four columns panel radius text-center">
  <h4>{{#linkTo siteSales.checkout content }}Checkout{{/linkTo}}</h4>
</div>
{{#if boxesStart}}
  <div class="four columns offset-by-two panel radius text-center">
    <h4>{{#linkTo siteSales.checkin content}}Checkin{{/linkTo}}</h4>
  </div>
{{/if}}
<div class="die"></div>
<div class="row">
  <div class="twelve columns">
  {{#if boxesStart}}
    <h3>Cookies</h3>
    <ul class="no-bullet">
      {{#each cookieCases}}
        <li>
          <div class='row'>
            <div class="four columns">
              <strong>{{name}}</strong>
            </div>
            <div class="two columns">
              starting: {{quantityStart}}
            </div>
            {{#if quantityEnd}}
              <div class="two columns">
                ending:  {{quantityEnd}}
              </div>
              <div class="two columns">
                total sold: {{totalSold}}
              </div>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ul>
    {{#if boxesEnd}}
      <h4>Total Boxes Sold: <span>{{totalBoxesSold}}</span></h4>
      <h3>Total Sales: {{totalSales}}</h3>
    {{/if}}
  {{else}}
    <h4>Next Step: Checkout the cookies for this site sale.</h4>
  {{/if}}
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    {{#linkTo siteSales.edit content class="button small radius"}}Edit{{/linkTo}}
  </div>
</div>

{{outlet}}