<form {{action save content on="submit"}} class="custom">
  <h3>{{headerTitle}} {{fullName}}</h3>

  <label class="control-label" for="firstName">First name</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="firstName" id="firstName" placeholder="First name" required="true"}}
  </div>
  <label class="control-label" for="lastName">Last name</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="lastName" id="lastName" placeholder="Last name" required="true"}}
  </div>
  <div class="checkbox">
    <label>
      {{view Em.Checkbox checkedBinding="parent"}}
      Parent
    </label>
  </div>
  {{#if parent}}
    <div class="parent-elements mtm">
      <label class="control-label" for="email">Email Address</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="email" id="email" placeholder="Email Address" required="true"}}
      </div>
      <label class="control-label" for="phone">Phone</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="phone" id="phone" placeholder="Phone" required="true"}}
      </div>
    </div>
  {{/if}}

  <div class="form-actions mtm">

    <a href='#' {{action update target='controller'}} class='button radius'>{{buttonTitle}}</a>
    <a href='#' {{action cancel target='controller'}} class='mlm'>Cancel</a>
  </div>
</form>