<div class="container">
  <div class="row">
    {{outlet greeting}}
    <p {{bindAttr class="isSlogan"}} >Ember is: {{slogan}}</p>
    {{outlet body}}
    {{outlet footer}}
    <a {{action goToCookies href=true}}>Go To Cookies</a>
  </div>
</div>
