<h2>{{location}}</h2>
<p>{{startAt}}</p>

The cookies
{{cookieCase.name}}
{{#each cc in content.cookie_cases}}
  <p>Name: {{cc.name}} {{cc.quantity}} <b>{{content.location}}</b> {{name}} the name</p>
{{/each}}

{{outlet}}