<!DOCTYPE html>
<html>
<head>
  <title>Thin Minting</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- if user_signed_in? %>
    <meta name="current-user" content="<%= UserSerializer.new(current_user).to_json(root: false) %>" />
  <% end %>
</head>
<body>

  <%= yield %>

</body>
</html>
