<!DOCTYPE html>
<html>
<head>
  <title>Thin Minting</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- if user_signed_in? %>
    <meta name="current-user" content="<%= UserSerializer.new(current_user).to_json(root: false) %>" />
  <% end %>
</head>
<body>
<div id="container">
  <nav class="top-bar">
    <ul>
      <li class="name">
        <h1 class="man"><%= link_to "Thin Minting", root_path %></h1>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
    <section>
      <!-- Left Nav Section -->
      <ul class="left">
      </ul>
      <ul class="right">
        <li class="divider show-for-medium-and-up"></li>
        <% if user_signed_in? %>
          <li>Logged in as <strong><%= current_user.email %></strong>.</li>
          <li class="divider"></li>
          <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
      <!-- Right Nav Section -->
    </section>
  </nav>
</div>
<div id="container">
  <div class="row">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="twelve columns">
      <%= yield %>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <ul class="inline-list">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
